@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rubik700 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.rubik400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.roboto700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.colorCCC3C3 {
    color: #CCC3C3;
}

.colorFFFFFF {
    color: #FFFFFF;
}

.color6A6363 {
    color: #6A6363;
}

.colorE5007B {
    color:  #E5007B;
}

.fsize-16 {
    font-size: 16px;
}

.fsize-20 {
    font-size: 20px;
}

.fsize-24 {
    font-size: 24px;
}

.fsize-32 {
    font-size: 32px;
}